
.content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  width: 100%;
}

.content-box {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: var(--primary-color);
  border-radius: var(--base-size);
  margin: calc(var(--base-size)*2);
  padding: calc(var(--base-size)*2);
  width: calc(100% - 64px);
}