
fieldset {
  background-color: var(--primary-color);
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 400px;
  width: 400px;
}

button {
  background-color: var(--primary-color);
  border: 1px solid var(--detail-color);
  color: var(--detail-color);
  cursor: pointer;
  width: 50px;
}

input {
  max-width: 50%;
}

textarea {
  max-width: 80%;
}

input,
textarea {
  background-color: var(--light-color);
  color: var(--detail-color);
}

main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social-icon {
  height: 50px;
  margin-top: var(--base-size);
  width: 50px;
}