
.burger-submenu {
  background-color: var(--light-color);
  display: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: var(--base-size);
  position: absolute;
  top: 108px;
  width: 150px;
  z-index: 4;
}

.hamburger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  position: absolute;
  width: 100%;
}

.hamburger-button {
  display: none;
  height: calc(var(--base-size) * 2);
  left: var(--base-size);
  position: absolute;
  top: 38px;
  width: calc(var(--base-size) * 2);
}

@media screen and (max-width: 768px) {

  .hamburger-button {
    display: block;
  }

  .nav-button {
    margin-bottom: var(--base-size);
  }

  .navigation {
    display: none;
  }

}